*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: #ccc;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 2%;
}
button{
  color: rgba(0, 0, 0, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a9935;
  padding: 2px;
  border-radius: 3px;
}

